@import './../../assets/styles.scss';

.link-button {
  border-bottom: 1px solid black;
  border-radius: 0;
  width: 100px;
  height: 30px;
  display: block;

  background: linear-gradient(to top, $black 50%, $white 50%);
  background-size: 100% 200%;
  background-position: right top;
  transition: all 0.5s ease-out;
}

.link-button:hover,
.active {
  border-radius: 3px 3px 0 0;
  background-position: right bottom;
}

.link-text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: $black;
  transition: all 0.6s ease-out;
  display: block;
}

.link-text:hover,
.active {
  color: $white;
}
